<div style="margin-top: 30px;">
  <h2>Rozvrh hodin</h2>
  <p class="text">
  	Vyberte rozvrh podle ročníku a příslušného pololetí.
  </p>
  <table class="admin"> <!-- Wrapping table -->
  	<tr style="vertical-align: top;">
  	  <td>	
  		<table class="admin">  	
    	<% @timetables.each do |timetable| %>
      	  <tr>
      	    <td class="empl">
      	      <% t = timetable.NAME + '(' + timetable.YEAR + ')' %>	
		      <%= link_to t, '/n_timetable/'+timetable.ID.to_s, :action => 'show', :title => 'Ukázat', :remote => true, :class => 'bookmark' %>      		
      	    </td>
          </tr>
        <% end %>
        </table>
      </td>
      <td>
        <div id="target"> <!-- Target of AJAX -->
        </div>
      </td>
    </tr>
  </table>	
</div>	