<div id="target">
<hr class="fancy-line" />
<div style="margin-left: 30px; margin-top: 30px;">
  <h2>Elektronická žákovská knížka</h2>
  <div>
  	<p class="text">
  	Rodiče se mohou informovat o svých potomcích v rámci aplikace elektronická žákovská knížka.
  	Každý rodič se přihlásí pod svým unikátním heslem a může si ho kdykoliv změnit.
  	Po přihlášení si může rodič prohlédnout např. docházku svého dítěte, známky, které učitel zveřejní, atd.
  	Rodiče mohou také zanechat zprávu pro konkrétního učitele.   	 	
  	S aplikací se blíže seznámíte na třídních schůzkách. 
  	</p>
  </div>   	  
  <p class="text">
  Do elektronické žákovské knížky se můžete dostat vždy okamžitě přes ikonku (v pravém horním rohu webu).
  </p> 
  <a href="https://etk.just4web.cz/_stable/parent/index.php?url_short=zsmilec" target="blank" title="Elektronická žákovská knížka" class="button">
    <img src="/assets/zakovska.png" height="100" width="74" style="text-align: left;" />
  </a>
</div>
</div>  