<hr class="fancy-line" />
<div style="margin-top: 30px;">
  <h2>Představení školy</h2>  
  <p class="text">
  	  	Jsme malotřídní škola s 1.-5. ročníkem. Naší snahou je vytvářet nestresující vnitřní klima. Malý počet žáků umožňuje <span class="highlight">individuální přístup</span> ke každému z nich.
Škola přijímá všechny děti bez ohledu na sociální situaci, vyznání, rodinnou konstelaci, postižení, vzdělává je individuálně podle jejich potřeb. Již od 1.ročníku máme předmět konverzace (AJ) a informatiku – žáci se naučí základům práce s počítačem a hravou formou se seznámí se základy cizího jazyka
Ve škole působí aprobovaní pedagogové (jeden se zaměřením speciální pedagogika, druhý působil několik let jako výchovný poradce). Vyučujeme moderními výukovými metodami a snažíme se, aby se děti učily zodpovědnosti. Pedagogové mají zájem o další vzdělávání.
Nabízíme mimoškolní aktivity, kroužky.</p>
<p class="text">Vybavení prostředky ICT je téměř nadstandardní, máme dobré materiální podmínky.
Střídáme sezení na židlích a gymnastických míčích.
Pravidelně se účastníme akce na záchranu milečských varhan (Velikonoce, Vánoce), pořádáme besídky pro rodiče apod.
Na začátku školního roku si žáci volí své zástupce do školní rady – jejich členové se stávají skutečnými a rovnocennými partnery při většině rozhodování učitele.   
Naprosto neformálně se nám daří eliminovat většinu negativních jevů, se kterými se v současnosti potýká celá společnost.
  	  </p>
  	  <hr class="fancy-line" />				  
</div>