<hr class="fancy-line" />
<div style="margin-top: 30px;">
  <h2>Zápis do 1. roèníku</h2>  	
  <p class="text">  	
  	Vážení rodièe budoucích prvòáèkù, zápis do 1. roèníku bude probíhat <b>10.04.2018 od 14:00 do 16:00 hod</b> (dále dle domluvy) v budovì ZŠ Mileè. 
    Budete potøebovat obèanský prùkaz a rodný list dítìte. Dítì se musí zápisu zúèastnit!!!  
  </p>
  <h2>Kritéria pro pøijetí žákù do 1. roèníku pro školní rok 2018/2019</h2>
  <p class="text">
  	1. Pøijati budou všichni žáci, kteøí mají trvalé bydlištì ve spádové oblasti školy.<br />
    2. Pøijati budou žáci, mající trvalé bydlištì ve spádové oblasti školy, kteøí v roce 2017 byli u zápisu k plnìní školní docházky na ZŠ Mileè a byl jim udìlen odklad zahájení povinné školní docházky.<br />
    3. Pøijati budou žáci, jejichž starší sourozenec je aktuálnì žákem ZŠ Mileè<br />
    4. Dìti, které nemají trvalý pobyt v Milèi a spádových obcích.<br /> 
  </p>  			
</div>  