<hr class="fancy-line" />
<div style="margin-top: 30px;">
  <h2>Jak se učíme</h2>  
  <ul style="margin-left: 30px;">
  	<li>
  	  <p class="text">
  	  	V naší škole nezvoní <span class="highlight">žádný zvonek</span>.
  	  </p>
  	  <hr class="fancy-line" />		
  	</li>
  	<li>
  	  <p class="text">
  	  	Od 1. do 3. ročníku hodnotíme <span class="highlight">slovně</span>, ve 4. a 5. ročníku známkou.
  	  </p>
  	  <hr class="fancy-line" />		
  	</li>
  	<li>
  	  <p class="text">
  	  	<span class="highlight">Sedíme zdravě</span> - střídáme sezení na gymnastických míčích a židlích. 
  	  	Díky neustálému balancování, kdy se musíme snažit udržet rovnováhu těla, předcházíme bolavým zádům a deformaci páteře.
  	  </p>
  	  <hr class="fancy-line" />		
  	</li>
  	<li>
  	  <p class="text">
  	  	Každý měsíc vydáváme časopis <span class="highlight">ŠKOLÁČEK</span> (najdete v něm, co se nám líbilo, povedlo i nepovedlo).
  	  </p>
  	  <hr class="fancy-line" />		
  	</li>
  	<li>
  	  <p class="text">
  	  	Zapojujeme do výuky <%= link_to 'Činnostní učení', 'http://zsbru.hyperlink.cz/tvoriva_skola/cinnostni_uceni.pdf', :class => 'bookmark', :target => '_blank' %>.
  	  </p>		
  	</li>
  </ul>		  
</div>