<%= link_to 'Kontakt', '/n_school/contact', :title => '' %>
<%= link_to 'Historie', '/n_school/history', :title => '', :class => 'marked' %>
<%= link_to 'Mapa', '/n_school/map', :title => '' %>
<hr />
<div style="margin-top: 30px;">
  <h2>Škola v Milči</h2>	
  <p class="text">
  	<img src="/assets/skola-big.png" height="152" width="203" style="margin: 10px; float: right;" />
  	byla postavena v roce 1910. Její zdi tedy pamatují mnoho a jedná se o školu s dlouholetou tradicí.
  	Ještě před stavbou současně budovy školy fungovala stará budova, kde probíhala výuka dětí.
  </p>	
</div>