<%= link_to 'Kontakt', '/n_school/contact', :action => 'contact', :title => '', :id => 'contact', :remote => true, :class => 'bookmark' %>
<%= link_to 'Historie', '/n_school/history', :action => 'history', :title => '', :remote => true, :class => 'bookmark-marked', :id => 'history' %>
<%= link_to 'Mapa', '/n_school/map', :action => 'map', :title => '', :remote => true, :id => 'map', :class => 'bookmark' %>
<div id="target">
<hr class="fancy-line" />
<div style="margin-top: 30px;">
  <h2>Škola v Milči</h2>
  <img src="/assets/skola-big.png" height="152" width="203" style="margin: 10px; float: right;" />	
  <p class="text">  	
  	má dlouholetou tradici. Již roku 1851 nepomucký vikář doporučil okolním obcím Mileč, Kramolín, Maňovice, Záhoří a Želvice,
  	aby vybudovaly vlastní školu ve svém středu. Roku 1852 byla společným nákladem postavena první budova jednotřídní školy v Milči
  	na návrší vedle kostela sv. Petra a Pavla. V roce 1910 provedl stavitel V.Kšír z Nepomuka stavbu nové školní budovy.
  	Tato budova na rozdíl od staré nevyhovující budovy přečkala až do současnosti.  
  </p>
  <p class="text">
  	Původně byla škola jednotřídní, ale v průběhu let se struktura měnila. Např. roku 1880 byla dvoutřídní a v obou třídách 
  	bylo 240 dětí. Za okupace se nařízením škola stala dvoutřídkou s osmi postupnými ročníky. Na všech školách bylo zakázáno 
  	vyučování dějepisu a vlastivědy. Bylo zavedeno vyučování v němčině až 8 hodin týdně. Po osvobození se roku 1948 stala 
  	školou "Národní", kterou řídí ředitel. 
  </p>
  <p class="text">
  	V současnosti má škola pět ročníků, do kterých dochází celkem 18 dětí z Milče a okolních obcí.
  	Školu v srpnu roku 2013 převzala nová ředitelka Mgr. Kateřina Kohoutová, která dříve učila na 11. Základní škole v Plzni.
  	Školu převzala po PaeDr. S. Červenkovi, který školu řídil posledních 13 let a odešel do zaslouženého důchodu. 
  </p>			
</div>
</div>
