<%= link_to 'Kontakt', '/n_school/contact', :title => '' %>
<%= link_to 'Historie', '/n_school/history', :title => '' %>
<%= link_to 'Mapa', '/n_school/map', :title => '', :class => 'marked' %>
<hr />
<div style="margin-top: 20px;">
  Těsně za Nepomukem (směr Písek - silnice 20) odbočte doprava na Mileč (Nekvasovy). Sjedete z kopce a přijedete do Milče. Projedete obcí po hlavní. Na konci obce po levé straně uvidíte školu. Nelze ji přehlédnout.	
  <iframe width="425" style="float: left; margin: 10px;" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.cz/maps/ms?msid=211809641628718050652.0004e31b74a6d93487340&amp;msa=0&amp;ie=UTF8&amp;t=h&amp;brcurrent=5,0,1&amp;ll=49.469295,13.602705&amp;spn=0.04412,0.077162&amp;output=embed"></iframe><br /><small>Zobrazit místo <a href="https://maps.google.cz/maps/ms?msid=211809641628718050652.0004e31b74a6d93487340&amp;msa=0&amp;ie=UTF8&amp;t=h&amp;brcurrent=5,0,1&amp;ll=49.469295,13.602705&amp;spn=0.04412,0.077162&amp;source=embed" style="color:#0000FF;text-align:left">ZŠ Mileč</a> na větší mapě</small>	
</div>
