var largeImage = document.getElementById('target_<%= @photo.ID.to_s %>');
largeImage.style.width=800+"px";
largeImage.style.height=600+"px"; 
var url=largeImage.getAttribute('src');

var newImg = window.open(url,"Image", "width=800,height=600,resizable=1")
newImg.document.write("<title><%= @photo.DESCRIPTION %></title>")
newImg.document.write("<img src='"+ url +"' height='"+ largeImage.style.height +"' width='"+ largeImage.stylewidth +"' onclick='window.close()' style='position:absolute;left:0;top:0'>")
newImg.document.write("<script type='text/javascript'> document.oncontextmenu = new Function(\"return false\") </sc"+"ript>")
newImg.document.close()
