<div style="margin-left: 30px;">
  <h2>Učebny</h2>  
  <img src="/assets/rooms/schoolMap.png" height="415" width="620" alt="" title="" style="float: left; margin-right: 20px; margin-bottom: 20px;" />
  <!--<ul>  	  	
  	<li><%= link_to 'Učebna informatiky', '/n_rooms/ict', :class => 'bookmark', :remote => true %></li>
  	<li><%= link_to 'Třída', '/n_rooms/classroom', :class => 'bookmark', :remote => true %></li>  	
  </ul>
  <div id="pc_gallery" style="display: none;">  	
  	<img id="pc1" src="/assets/rooms/pc1.JPG" width="800" height="600" />
  </div>
  <div id="classroom_gallery" style="display: none;">
  	<img id="classroom1" src="/assets/rooms/trida1.JPG" width="800" height="140" />
  	<img id="classroom2" src="/assets/rooms/trida2.JPG" width="800" height="256" />
  	<img id="classroom2" src="/assets/rooms/trida3.JPG" width="800" height="600" />
  </div>--> 	  
</div>  