<table class="admin" style="font-size: x-small;">
  <tr>
  	<th>Pozice</th>
  	<th>Zaměstnanec</th>
  </tr>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.POSITION %></td>
      <% name = employee.DEGREE+' '+employee.FIRST_NAME+' '+employee.LAST_NAME %>	
      <td><%= link_to name, '/n_employees/'+employee.ID.to_s, :class => 'empl' %></td>      
    </tr>
  <% end %>	
</table>		
