<table class="admin">
  <tr>
  	<th>Pozice</th>
  	<th>Zaměstnanec</th>
  	<td rowspan="<%= @employees.size + 1 %>">
	  <table class="presscard" id="preview">
	  	<tr>
	  	  <td>Vyberte zaměstnance a zobrazí se detaily.</td>
	  	</tr>
	  </table>
	</td>	
  </tr>
  <% @employees.each do |employee| %>
    <tr>
      <td class="empl" style="border-bottom: 1px solid #C8C8C8;"><%= employee.POSITION %></td>
      <% name = employee.DEGREE+' '+employee.FIRST_NAME+' '+employee.LAST_NAME %>	
      <td style="border-bottom: 1px solid #C8C8C8; width: 180px;"><%= link_to name, { :action => 'show_employee', :id => employee.ID, :remote => true }, :class => 'bookmark-nob' %></td>
    </tr>
  <% end %>
</table>
