h1.admin
{
  font-family: Verdana;
  font-weight: bold;
  text-align: center;
  border: 2px ridge black;
  padding: 5px;
  background-color: yellow;
}

td.admin
{
  font-family: Verdana;
  font-weight: bold;
  font-size: 11pt;
  padding: 2px;
}

a
{
  text-decoration: none;  
}

a:link
{
  color: blue;
}

table.admin td, th
{
  border: none;
}

a.button:link, a.button:hover, a.button:visited
{
  border: none;
  background-color: white;
}
