// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.table
{
  font-family: Verdana;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border: 2px ridge black;
  padding: 5px;
  color: yellow;
  background-color: grey;
}

td, th
{
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

th
{
  text-align: left;
  background-color: grey;
}
